
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=n0lyjgLSl+d2uaJyG0Wegw==,ohzmSEv+iwH6JT85sVuc4Q==,5fcgsJgP9T9STQKqtfaQGA==,+WAWtgpRbn1u0kgrHHjILA==
API_TOKEN_SALT=x2vyqfRDiHITUqWeoT1Slw==
ADMIN_JWT_SECRET=J2qjm3ySqgJEzi/PL48+kw==
TRANSFER_TOKEN_SALT=p9uMEQBDpDevwyvjKGJeZg==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=cosmos
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=THE_PASSWORD
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=5DLB4bE5wB8cqj3ViLjwDw==
